.controls {
  display: flex;
  flex-direction: column;
  width: 43em;
  gap: 1em;
  padding: 2em;
}

.controls input {
  width: fit-content;
}

.controls button {
  width: fit-content;
}

.number-input {
  width: 20em;
}
